.heading {
  font-weight: 800;
  font-size: var(--header-3);
  color: var(--common-white);
  text-align: center;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  gap: 1rem;
}

.containerFullWidth {
  flex-direction: column;
}

.containerHalfWidth {
  flex-direction: row;
  flex-wrap: wrap;
}

.containerHalfWidth > * {
  flex: 1;
}

.selectedType {
  color: var(--primary-contrast);
  background-color: var(--primary-main);
  border-color: transparent;
}
