.rankingContainer table {
  font-weight: 600;
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

.rankingContainer thead th {
  background-color: var(--primary-dark);
  color: var(--secondary-dark);
  position: sticky;
  top: 0;
  padding: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rankingContainer {
  overflow: auto;
  height: 12rem;
}

.userScore {
  font-weight: 800;
  color: var(--primary-light);
}

.blobBox {
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.blobBox > * {
  grid-area: 1 / 1 / -1 / -1;
}

.userPosition {
  font-weight: 800;
  color: var(--secondary-dark);
}
