.Button {
  font-size: var(--button-text);
  padding: 0.625rem 1.6rem;
  border-radius: 3.125rem;
  color: var(--common-white);
  transition: var(--default-transition);
  line-height: 1;
}

.ButtonOutlined {
  composes: Button;
  border: 6px solid var(--secondary-main);
  width: 100%;
}
.ButtonNormal {
  composes: Button;
  background-color: var(--secondary-main);
  width: 100%;
}

.ButtonNextQuestion {
  composes: Button;
  background-color: var(--secondary-dark);
  text-transform: uppercase;
}

.ButtonGameMode {
  composes: Button;
  border: 6px solid var(--primary-light);
  height: 3.75rem;
  width: 100%;
}

.Button:hover {
  background-color: var(--secondary-dark);
  border-color: transparent;
}

.Button:disabled {
  color: rgba(255, 255, 255, 0.38);
  background-color: rgba(255, 255, 255, 0.5);
  border-color: transparent;
  cursor: initial;
}

.ButtonNextQuestion:hover {
  background-color: var(--secondary-main);
  border-color: transparent;
}

.ButtonNextQuestion:active {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
  border-color: transparent;
}

.ButtonGameMode:hover {
  background-color: var(--primary-main);
  border-color: transparent;
}
