.Button {
  font-size: var(--button-text);
  padding: 0.75rem 1.6rem;
  border: 6px solid transparent;
  border-radius: var(--default-border-radius);
  color: var(--common-white);
  transition: var(--default-transition);
  line-height: 1;
}

.Button:hover {
  border-color: transparent;
}

.ButtonNormal {
  composes: Button;
  background-color: var(--secondary-dark);
  text-transform: uppercase;
  font-size: var(--button-text-small);
  padding: 1rem;
}

.ButtonNormal:hover {
  background-color: var(--secondary-main);
}

.ButtonMain {
  composes: Button;
  background-color: var(--secondary-main);
  width: 100%;
}

.ButtonMain:hover {
  background-color: var(--secondary-dark);
}

.ButtonOutlined {
  composes: Button;
  border-color: var(--secondary-main);
  width: 100%;
}

.ButtonOutlined:hover {
  background-color: var(--secondary-dark);
}

.ButtonNextQuestion {
  composes: Button;
  background-color: var(--secondary-dark);
  text-transform: uppercase;
}

.ButtonNextQuestion:hover {
  background-color: var(--secondary-main);
}

.ButtonNextQuestion:active {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
}

.ButtonGameMode {
  composes: Button;
  border-color: var(--primary-main);
  width: 100%;
}

.ButtonGameMode:hover {
  background-color: var(--primary-dark);
}

.Button:disabled {
  color: rgba(255, 255, 255, 0.38);
  background-color: rgba(255, 255, 255, 0.5);
  border-color: transparent;
  cursor: initial;
}
