.answersWrapper {
  --answer-image-size: 2rem;
  --answer-image-margin: 0.5rem;

  height: 15rem;
  margin-bottom: 1rem;
  overflow: auto;
  max-width: 100%;
}

.answersTable {
  border-collapse: separate;
  border-spacing: 0 0.2rem;
  font-size: var(--question-text);
  text-align: center;
}

.answersTable thead th {
  background-color: var(--primary-dark);
  border-radius: 0;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tableCell {
  position: relative;
  background-color: var(--action-active);
  padding: 0.25rem 0.5rem;
}

.tableCell:not(:last-child)::after {
  content: '';
  height: 80%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 10%;
  background-color: var(--common-white);
}

.tableCell:first-child,
.tableCell:nth-child(2) {
  color: var(--primary-light);
}

.tableCell:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.tableCell:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

.characterImage {
  display: block;
  margin: 0 auto;
  width: var(--answer-image-size);
  height: var(--answer-image-size);
  border-radius: 20%;
}

.answerImagesContainer {
  width: calc(4 * var(--answer-image-size) + 3 * var(--answer-image-margin));
  display: flex;
  margin: auto;
}

.answerImage {
  height: var(--answer-image-size);
  width: var(--answer-image-size);
  border-radius: 50%;
}

.answerImage:not(:last-child) {
  margin-right: var(--answer-image-margin);
}

.correctIcon {
  margin: auto;
  height: var(--answer-image-size);
  min-width: var(--answer-image-size);
}
