:root {
  --answer-image-size: 3.1rem;
  --answer-image-margin: 0.5rem;
}

.answersWrapper {
  height: 22.85rem;
  margin-bottom: 1.5rem;
  overflow-y: auto;
}

.answersTable {
  width: 62.8rem;
  border-collapse: separate;
  border-spacing: 0 0.15rem;
  font-size: var(--question-text);
}

.answersTable thead th {
  color: var(--common-white);
  background-color: var(--primary-dark);
  border-radius: 0;
  z-index: 1;
}

.tableRow {
  height: 5.6rem;
  vertical-align: middle;
  background-color: var(--action-active);
  border-radius: 10px;
}

.tableCell {
  width: 17.2rem;
  position: relative;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.tableCell:not(:last-child)::after {
  content: '';
  height: 80%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 10%;
  background-color: var(--common-white);
}

.tableCell:first-child, .tableCell:last-child {
  width: 5.6rem;
}

.tableCell:first-child {
  border-radius: 10px 0 0 10px;
  color: var(--primary-light);
}

.tableCell:nth-child(2) {
  color: var(--primary-light);
}

.tableCell:last-child {
  border-radius: 0 10px 10px 0;
}

.characterImage {
  display: block;
  margin: auto;
  height: 5.3rem;
  width: 5.3rem;
  border-radius: 20%;
}

.answerImagesContainer {
  width: calc(4 * var(--answer-image-size) + 3 * var(--answer-image-margin));
  display: flex;
  margin: auto;
}

.answerImage {
  height: var(--answer-image-size);
  width: var(--answer-image-size);
  border-radius: 50%;
}

.answerImage:not(:last-child) {
  margin-right: var(--answer-image-margin);
}

.correctIcon {
  margin: auto;
}
