.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  width: 25rem;
  border-radius: 28px;
  background-color: rgba(0, 0, 0, 0.91);
  color: var(--common-white);
  border: 3px solid var(--common-white);
  box-sizing: border-box;
  text-align: center;
  padding: 0.625rem 0.625rem;
}

.boxRulesText {
  text-align: left;
  padding: 0.625rem;
  font-size: 0.8rem;
}
