.box {
  height: fit-content;
  width: 23rem;
  border-radius: 1.875rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--common-white);
  border-color: var(--common-dark);
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
  padding: 0.625rem 0.625rem;
}

.boxRulesText {
  text-align: left;
  padding: 0.625rem;
  font-size: 0.8rem;
}
