.mainBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.image {
  padding: 1rem;
  max-height: 15rem;
}

.column {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.heading {
  font-size: var(--header-3);
  font-weight: 800;
}

.questionText {
  color: var(--secondary-dark);
  font-size: var(--question-text);
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}
