.flexContainer {
  display: flex;
  text-align: center;
  justify-content: stretch;
  column-gap: 0.2rem;
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

.flexBtn {
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  background-color: var(--primary-light);
  color: var(--secondary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  flex-basis: 100%;
  padding: 0.25rem 0.5rem;
  line-height: 1;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  cursor: pointer;
  transition: var(--default-transition);
}

.flexBtn:hover,
.flexBtnFocus {
  box-shadow: none;
  background-color: var(--primary-dark);
  color: var(--common-white);
}

.rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.text {
  font-weight: 800;
  color: var(--common-white);
  font-size: var(--header-3);
}
