.wrapper {
  min-height: 100vh;
  display: grid;
}

.wrapper > * {
  grid-area: 1 / -1 / 1 / -1;
}

.popupOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  opacity: 1;
  transition: var(--default-transition);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: var(--header-3);
  font-weight: 800;
  text-align: center;
  filter: drop-shadow(var(--heading-shadow));
  margin-bottom: 2.4rem;
}

.score {
  color: var(--primary-light);
}

.buttonRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
