.wrapper {
  min-height: 100vh;
  display: grid;
}

.popupOverlay {
  grid-area: 1 / -1 / 1 / -1;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.content {
  grid-area: 1 / -1 / 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  color: var(--common-white);
  background-color: var(--primary-dark);
  box-shadow: var(--popup-shadow);
  padding: 4rem 4.8rem 5rem;
  border-radius: 50px;
}

.heading {
  font-size: var(--header-3);
  font-weight: 800;
  text-align: center;
  filter: drop-shadow(var(--heading-shadow));
  margin-bottom: 2.4rem;
}

.score {
  color: var(--primary-light);
}

.buttonRow {
  display: flex;
  gap: 1rem;
}

.logoWrapper {
  position: absolute;
  top: 100%;
  transform: translateY(-60px);
}
