.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.questionText {
  font-size: var(--header-3);
  font-weight: 800;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.characterImageDiv {
  width: 8rem;
  height: 8rem;
}

.characterImageDiv img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
  box-shadow: black 0px 3px 8px;
}

.answersContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(calc(50% - 0.5rem), 20ch));
  place-items: center start;
  gap: 1rem;
}

@media (max-width: 576px) {
  .answersContainer {
    grid-template-columns: 1fr;
  }
}

.answer {
  min-width: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  transition: var(--default-transition);
  transition-property: color;
}

.answer:hover {
  color: var(--secondary-dark);
  cursor: pointer;
}

.answerItem {
  flex-grow: 0;
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--secondary-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: var(--secondary-light);
  font-size: var(--header-3);
  font-weight: 800;
  text-align: center;
  line-height: 2rem;
}

.answerItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.answerText {
  padding: 0 0.75rem;
  font-size: var(--question-text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
  outline: 0.125rem solid var(--secondary-dark);
  border-radius: 1.6rem;
}
