.questionContainer {
    width: 63rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.questionText {
    margin-bottom: 2rem;
    font-size: 2.25rem;
    font-weight: 800;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
}

.characterImageDiv {
    width: 11.25rem;
    height: 11.25rem;
    margin-right: 2.25rem;
}

.characterImageDiv img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.answersContainer {
    width: 50rem;
    height: 11.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.answer {
    width: 14rem;
    height: 4rem;
    margin-right: 2.25rem;
    display: flex;
    flex-basis: 45%;
    align-items: center;
}

.answerItem {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: var(--secondary-dark);
    color: var(--secondary-light);
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
}

.answerItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.answerText {
    max-width: 17rem;
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}