@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
@import './preflight.css';

:root {
  /* Color styles */
  --common-dark: #000000;
  --common-white: #ffffff;

  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-disabled: rgba(0, 0, 0, 0.38);

  --primary-main: #b2ff59;
  --primary-light: #e7ff8c;
  --primary-dark: #7ecb20;
  --primary-contrast: #000000;

  --secondary-main: #00b0c8;
  --secondary-light: #5fe2fb;
  --secondary-dark: #008097;
  --secondary-contrast: #000000;

  --action-active: rgba(0, 0, 0, 0.54);
  --action-hover: rgba(0, 0, 0, 0.04);
  --action-selected: rgba(0, 0, 0, 0.08);
  --action-disabled: rgba(0, 0, 0, 0.26);
  --action-disabled--background: rgba(0, 0, 0, 0.12);
  --action-focus: rgba(0, 0, 0, 0.12);

  /* Text-size styles */
  --button-text: 1rem;
  --header-3: 1.125rem;
  --text-1: 1rem;
  --question-text: 0.875rem;
  --question-button: 1rem;
  --button-text-small: 0.625rem;
  --extra-big-text: 1.55rem;

  --default-border-radius: 50px;
  --popup-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  --heading-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  --default-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);

  --circle-animation-time: 0;

  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

  background: var(--common-dark) url('/src/public/img/background.jpg') center center / cover;
}

body,
#app {
  min-height: 100vh;
}

@media screen and (min-width: 1920px) {
  :root {
    font-size: 24px;
  }
}
