@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
@import './preflight.css';

:root {
  /* Color styles */
  --primary-light: rgba(231, 255, 140, 1);
  --primary-main: rgba(126, 203, 32, 1);
  --primary-contrast: rgba(0, 0, 0, 1);
  --secondary-main: rgba(0, 176, 200, 1);
  --secondary-light: rgba(95, 226, 251, 1);
  --secondary-dark: rgba(0, 128, 151, 1);
  --secondary-contrast: rgba(0, 0, 0, 1);
  --action-active: rgba(0, 0, 0, 0.54);
  --action-hover: rgba(0, 0, 0, 0.04);
  --action-selected: rgba(0, 0, 0, 0.08);
  --action-disabled: rgba(0, 0, 0, 0.26);
  --action-disabled--background: rgba(0, 0, 0, 0.12);
  --action-focus: rgba(0, 0, 0, 0.12);
  --common-dark: rgba(0, 0, 0, 1);
  --common-white: rgba(255, 255, 255, 1);
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-disabled: rgba(0, 0, 0, 0.38);

  /* Text-size styles */
  /* base size: button-text-small (20px) */
  --button-text: 1.6rem;
  --header-3: 1.8rem;
  --text-1: 1.6rem;
  --question-text: 1.4rem;
  --question-button: 1.6rem;
  --button-text-small: 1rem;
  --extra-big-text: 2.5rem;

  --default-border-radius: 50px;
  --popup-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  --heading-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  --default-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);

  font-size: 20px;
  font-family: 'Montserrat', sans-serif;

  background: var(--common-dark) url('/src/public/img/background.jpg') center center / cover;
}

body,
#app {
  min-height: 100vh;
}
